@import url("https://fonts.googleapis.com/css2?family=Felipa&family=Playwrite+US+Modern:wght@100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #58544d;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font1 {
  font-family: "Playwrite US Modern", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font2 {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}

.tagline {
  color: #58544d;
}

body {
  margin: 0;
}
